# https://github.com/PixlOne/logiops/issues/116
# https://github.com/torvalds/linux/blob/master/include/uapi/linux/input-event-codes.h
devices: (
  {
    name: "MX Master 3S";
    dpi: 1500;

    hiresscroll: {
      hires: true;
      invert: false;
      target: false;
    };

		thumbwheel: {
			divert: true;
			invert: false;
			right: {
				direction: "Right";
				mode: "OnInterval";
				threshold: 1;
				interval: 3;
				action: {
					type: "Keypress";
					keys: ["KEY_LEFTCTRL", "KEY_TAB"];
				};
			};
			left: {
				direction: "Left";
				mode: "OnInterval";
				threshold: 1;
				interval: 3;
				action: {
					type: "Keypress";
					keys: ["KEY_LEFTCTRL", "KEY_LEFTSHIFT", "KEY_TAB"];
				};
			};
		};

    buttons: (
      {
        cid: 0x53;
        action: {
          type: "Keypress";
          keys: ["KEY_BACKSPACE"];
        };
      },
      {
        cid: 0x56;
        action: {
          type: "Keypress";
          keys: ["KEY_ENTER"];
        };
      },
      {
        cid: 0xc3;
        action: {
          type: "Gestures";
          gestures: (
            {
              direction: "Left";
              mode: "onInterval";
							threshold: 1;
              interval: 500;
              action: {
                type: "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_RIGHT"];
              };
            },
            {
              direction: "Right";
              mode: "onInterval";
							threshold: 1;
              interval: 500;
              action: {
                type: "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_LEFT"];
              };
            }
          );
        };
      },
      {
        cid: 0xc4;
        action: {
          type: "Keypress";
          keys: ["KEY_LEFTCTRL", "KEY_W"];
        };
      }
    );
  }
);
